a {
    color: #08623a;
}

a:hover {
    background-color: #ffdd39;
    color: #000;
}

.header {
    padding: 0;
    text-align: center;
    background: white;
}

h1 {
    color: #ef2920;
}

h2 {
    color: #08623a;
}

.header a {
    color: inherit;
}

.header a:hover {
    background-color: #ef2920;
    color: #fff;
}

.navbar {
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}

.navbar a {
    float: left;
    display: block;
    color: #08623a;
    text-align: center;
    font-weight: bold;
    padding: 14px 20px;
}

.navbar a:hover {
    color: black;
    background-color: #ffdd39;
}

.padding-16 {
    padding: 16px;
}

th {
    text-align: right;
}

td {
    text-align: left;
}

.underline {
    text-decoration: underline;
}

.footer {
    padding: 32px;
    text-align: center;
    background: black;
    color: white;
    font-size: 24px;
}

.footer address {
    font-style: normal;
}

.imgbox {
    display: grid;
    height: 50%;
}
.center-fit {
    max-width: 50%;
    max-height: 50vh;
    margin: auto;
}